@use "../color" as *;
@use "../fonts" as *;

.SignInBtn {
  @include pFont;
  font-weight: 700 !important;
  width: 400px;
  height: 44px;
  background-color: $buttonColor !important;
}

.SignInBtn:hover,
.SignInBtn:focus,
.SignUpBtn:hover,
.SignUpBtn:focus,
.SignInBtn2:hover,
.SignInBtn2:focus {
  background-color: $pryColor !important;
}

.SignUpBtn {
  @include pFont;
  font-weight: 700 !important;
  background-color: $buttonColor !important;
  width: 230px;
  height: 42px;
}

.SignInBtn2 {
  width: 157px;
  height: 50px;
  @include pFont;
  font-weight: 700 !important;
  background-color: $buttonColor !important;
}

.GoogleSignInBtn {
  @include pFont;
  color: $bodyTextColor !important;
  background-color: inherit !important;
  border: 1px solid $buttonColor !important;
  width: 400px;
  height: 44px;
}

.GoogleSignUpBtn {
  @include pFont;
  color: $bodyTextColor !important;
  background-color: inherit !important;
  border: 1px solid $buttonColor !important;
  width: 230px;
  height: 42px;
}

.SignUpGroup {
  @include pFont;
  font-size: 14px !important;
  width: 186px;
  height: 46px;
  background-color: inherit !important;
  color: $pryColor !important;
  border: 1px solid $buttonColor !important;
}

.SignUpGroup:hover,
.SignUpGroup:focus {
  background-color: $pryColor !important;
  color: white !important;
}

.getStarted {
  width: 228px;
  height: 60px;
  background-color: $pryColor !important;
  @include H5Font;
  font-size: 25px !important;
}
@media screen and (max-width: 540px) {
  .SignInBtn,
  .GoogleSignInBtn {
    width: 80%;
  }
}
