@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

.teamValueStyle {
  background-color: $pryColorVariant !important;
}

.GreenBackgroundColor {
  background-color: $pryColor !important;
}

.accordion-button {
  @include H6Font;
  box-shadow: none !important;
  font-size: 1rem !important;
  font-weight: 500;

  padding: 18px 22px !important;
}
.accordion-button:not(.collapsed) {
  background-color: $secColor !important;
  color: $bodyTextColor !important;
}

// .ConflictIssuesCard {
// }

.warningStyle {
  border-left: 3px solid rgba(255, 0, 0, 0.7) !important;
  color: rgba(255, 0, 0, 0.7) !important;
  background-color: rgba(255, 0, 0, 0.1);
  width: 100%;
  max-width: 46.875rem;
  padding: 1.25rem;
  font-size: 0.875rem !important;
}

// FAQ Styles
.FAQs {
  .faqs-header {
    background-color: $pryColor;
  }

  .accordion-button:not(.collapsed) {
    color: unset;
    background-color: white;
  }

  .accordion-title,
  .accordion-body {
    font-family: "Open Sans";
    font-weight: 400 !important;
  }

  .accordion-head {
    border-bottom: 0.5px dashed rgba(75, 68, 83, 0.1) !important;
  }

  .accordion-button:focus,
  .accordion-button:not(.collapsed):focus {
    outline: 0 !important;
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
  }
}

// Payment Method
.payment-method-card:hover,
.payment-method-card:focus {
  border-color: $pryColor !important;
}
// Neutral resolve coflicts
.resolve-card {
  .nav-pills .nav-link.active {
    background-color: $pryColor !important;
    font-weight: 400 !important;
  }

  .nav-pills .nav-link {
    background-color: $buttonColor !important;
    font-weight: 400 !important;
    color: white;
  }
}
.signUp-bg {
  background-color: $pryColor;
  background-size: auto;
  border-radius: 5px;
  overflow-y: hidden;
  h1 {
    @include H1Font;
  }
}
