@use "../fonts" as *;
@use "../color" as *;
$inputFieldColor: rgba(75, 68, 83, 0.8);

.Email, .Password{
  @include H5Font;
  color: $inputFieldColor;
  font-size: 1rem !important;
  font-weight: 700;
}
.Email input::placeholder,.Password input::placeholder  {
  color:$placeholderTextColor  !important;
}
.AccountNum, .AccountName, .BankName {
  label {
    @include H6Font;
    color: $bodyTextColor;
    letter-spacing: 0.08em;
    font-weight: 700;
  }
  input{
    border: 1.5px solid rgba(0, 103, 71, 0.3);
  }
}
.AccountNum, .AccountName, .BankName {
  input::placeholder{
    font-weight: 300 !important;
  font-size: 1rem !important;
    letter-spacing: 0.04em !important;
    color:$placeholderTextColor;
  }
}

.Name, .UpdateEmail, .Phone, .Pass {
  label {
    @include H6Font;
    color: $bodyTextColor;
    letter-spacing: 0.08em;
    font-weight: 700;
  }
  input{
    border: 1.5px solid rgba(0, 103, 71, 0.3);
  }
}
.Name, .UpdateEmail, .Phone, .Pass {
  input::placeholder{
    font-weight: 300 !important;
  font-size: 1rem !important;
    letter-spacing: 0.04em !important;
    color:$placeholderTextColor;
  }
}