@use "../color" as *;
@use "../fonts" as *;
// $BtnBgColor: rgba(0, 103, 71, 0.9);


.Modal-Btn {
  @include pFont;
  background-color: $buttonColor !important;
  color:$secColor;
  border-radius: 4.5px !important;
}
.Modal-Btn:hover,
.Modal-Btn:focus {
  background-color: $pryColor !important;
}
.ModalMessage {
  @include pFont;
  text-align: justify;
  color: $placeholderTextColor;
}
.ModalTitle {
  @include H4Font;
}