@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

$BtnBgColor: rgba(0, 103, 71, 0.9);
// $BtnBgColor: rgba(0, 103, 71, 0.9);

.Modal-Btn {
  @include pFont;
  background-color: $BtnBgColor !important;
  color: $secColor;

  // $BtnBgColor: rgba(0, 103, 71, 0.9);

  // $BtnBgColor: rgba(0, 103, 71, 0.9);
  //  origin/NavbarComponents

  .Modal-Btn {
    @include pFont;

    background-color: $buttonColor !important;
    color: $secColor;
    border-radius: 0.2rem !important;
  }
  .Modal-Btn:hover,
  .Modal-Btn:focus {
    background-color: $pryColor !important;
  }
  .ModalMessage {
    @include pFont;
    background-color: $buttonColor !important;
    color: $secColor;
    border-radius: 0.2rem !important;
  }
  .Modal-Btn:hover,
  .Modal-Btn:focus {
    background-color: $pryColor !important;
  }
  .ModalMessage {
    @include pFont;
    text-align: justify;
    color: $placeholderTextColor;
  }
  .ModalTitle {
    @include H4Font;
  }
}
