@use "../color" as *;
@use "../fonts" as *;

.nav-link {
  @include pFont;
  margin: 10px 15px;
  color: black !important;
}

.hamburgerIcon,
.closeIcon {
  border: none !important;
  box-shadow: none !important;
}

.closeIcon {
  display: none;
}

.guest-nav {
  margin: 0 20px;
}
.bigLogo {
  transform: translateY(-25px);
}

.smallLogo {
  display: none;
}
.userDashboardNav {
  padding-right: 30px;
  @include userNavFont;
}

@media screen and (max-width: 992px) {
  .nav-text {
    background-color: $pryColor;
    position: absolute;
    width: 100%;
    transform: translateY(-50px);
  }
  .nav-link {
    color: white !important;
    padding-left: 50px !important;
    margin-top: 5px;
  }
  .guest-nav {
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
  }
  .closeIcon {
    display: block;
    box-shadow: none !important;
  }
  .bigLogo {
    transform: translateY(0);
  }
  .smallLogo {
    display: block;
  }
}
