@use "../color" as *;
@use "../fonts" as *;

// GuestNavbar styles
.nav-link {
  @include pFont;
  margin: 10px 15px;
  color: black !important;
}

.hamburgerIcon,
.closeIcon {
  border: none !important;
  box-shadow: none !important;
}

.closeIcon {
  display: none;
}

.guest-nav {
  margin: 0 20px;
}
.bigLogo {
  transform: translateY(-50px);
}

.smallLogo {
  display: none;
}

// User Dashboard Navbar Styles
.userDashboardNav {
  //   padding-right: 30px;
  @include userNavFont;
  font-size: 12px !important;
}

.form-control {
  box-shadow: none !important;
}

.search {
  border: none !important;
  border-radius: 15px !important;

  background: #fdfafa !important;
}
.nav-btn {
  transform: translateY(-10px);
}

@media screen and (max-width: 280px) {
  .search {
    height: 30px;
    width: 120px !important;
  }
}
@media screen and(min-width:281px) and (max-width: 540px) {
  .search {
    height: 30px;
    width: 150px !important;
  }
  .searchField {
    margin-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  // GuestNavbar styles

  .nav-text {
    background-color: $pryColor;
    position: absolute;
    width: 100%;
    transform: translateY(-50px);
  }
  .nav-link {
    color: white !important;
    padding-left: 50px !important;
    margin-top: 5px;
  }
  .guest-nav {
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
  }
  .closeIcon {
    display: block;
    box-shadow: none !important;
  }
  .bigLogo {
    transform: translateY(0);
  }
  .smallLogo {
    display: block;
  }
}

/**SideNav Styling**/
.SideNav {
  background-color: $pryColor;
  color: $secColor;
  width: 15rem;
  height: 100vh !important;
}
.SideNavLogo {
  width: 6rem;
  cursor: pointer !important;
}
.SideNavItem {
  @include H6Font;
  color: $secColor;
  cursor: pointer !important;
  font-weight: 400;
}
.hoverBlock {
  border: 3px solid $secColor;
  border-radius: 5px;
  position: absolute !important;
  height: 2rem !important;
  transform: translate(200px, 0px);
  display: none;
}
.SideNavItem:hover,
:focus {
  font-weight: 700 !important;
  .hoverBlock {
    display: block;
  }
}
.SideNavDropdown button {
  background-color: unset !important;
  border: none !important;
  padding: 0 !important;
}
.SideNavDropdown button::after {
  display: none !important;
  width: unset !important;
  outline: unset !important;
}
// .SideNavItemNeutrals:hover, :focus {
//   svg:focus, :hover {
//     width: 30% !important;
//   }
//   span {
//     width: 40% !important;
//   }
// }
.SideNavDropdown .show {
  transform: translate3d(180px, 1px, 0px) !important;
}
.SideNavDropdown .show a:hover,
:focus {
  font-weight: 700 !important;
}
