@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

// GuestNavbar styles
.nav-links {
  @include pFont;
  margin: 5px 10px !important;
  color: black !important;
}

.hamburgerIcon {
  border: none !important;
  box-shadow: none !important;
}

.guest-nav {
  padding: 10px 20px !important;
}

// User Dashboard Navbar Styles
.userDashboardNav {
  //   padding-right: 30px;
  @include userNavFont;
  font-size: 0.75rem !important;
}

.form-control {
  box-shadow: none !important;
}

@media screen and (max-width: 280px) {
  .search {
    height: 30px;
    width: 120px !important;
  }
}
@media screen and(min-width:281px) and (max-width: 540px) {
  .search {
    height: 30px;
    width: 150px !important;
  }
  .searchField {
    margin-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  // GuestNavbar styles

  .nav-text {
    background-color: $pryColor;
    width: 100% !important;
  }
  .nav-links {
    color: white !important;
    padding-left: 50px !important;
    margin-top: 5px;
  }
  .guest-nav {
    margin: 0px !important;
    padding: 0px !important;
  }
}

/**SideNav Styling**/
.offcanvas-backdrop.show {
  opacity: 0 !important;
}
.offcanvas-lg,
.offcanvas {
  background-color: #006747 !important;
  color: $secColor !important;
}

.offcanvas {
  width: 250px !important;
}

.SideNav {
  background-color: #006747 !important;
  color: $secColor !important;
}

.bottom {
  bottom: 10% !important;
}

.SideNavLogo {
  cursor: pointer !important;
}
.SideNavItem {
  font-family: "Roboto", sans-serif !important;
  font-size: 1rem !important;
  color: $secColor !important;
  cursor: pointer !important;
  font-weight: 400;
}
.hoverBlock {
  border: 3px solid $secColor;
  border-radius: 0.3rem;
  position: absolute !important;
  height: 2rem !important;
  transform: translate(200px, 0px);
  display: none;
}
.SideNavItem:hover,
:focus {
  font-weight: 700 !important;
  .hoverBlock {
    display: block;
  }
}
.SideNavDropdown button {
  background-color: unset !important;
  border: none !important;
  padding: 0 !important;
}
.SideNavDropdown button::after {
  display: none !important;
  width: unset !important;
  outline: unset !important;
}

.SideNavDropdown .show {
  transform: translate3d(180px, 1px, 0px) !important;
}
.SideNavDropdown .show a:hover,
:focus {
  font-weight: 700 !important;
}
