<<<<<<< HEAD
@use "../color" as *;
@use "../fonts" as *;

@mixin notificationStyle {
  width: 180px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed,
.resolved {
  @include notificationStyle;
  @include notificationFont;
  color: $pryColor !important;
  background-color: $completedBackgroundColor;
}

.canceled,
.unresolved {
  @include notificationStyle;
  @include notificationFont;
  color: $canceledTextColor;
  background-color: $canceledBgColor;
}

.refunded {
  @include notificationStyle;
  @include notificationFont;
  color: $refundedTextColor;
  background-color: $refundedBgColor;
}

.dispute {
  @include notificationFont;
  @include notificationStyle;
  color: $inDisputeTextColor;
  background-color: $inDisputeBgColor;
}
.pending-confirmation {
  @include notificationFont;
  @include notificationStyle;
  color: $pendingConfirmationTextColor;
  background-color: $pendingConfirmationBgColor;
}

.awaiting {
  @include notificationStyle;
  @include notificationFont;
  color: $awaitingDeliveryTextColor;
  background-color: $awaitingDeliveryBgColor;
}

.pending-payment {
  @include notificationStyle;
  @include notificationFont;
  color: $pendingPaymentTextColor;
  background-color: $pendingPaymentBgColor;
}
=======
// @use "../color" as *;
// @use "../fonts" as *;
>>>>>>> origin/chris
