@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

.completed,
.awaiting,
.canceled,
.dispute,
.pending-confirmation,
.pending-payment,
.refunded,
.resolved,
.unresolved {
  width: 11rem;
  height: 1.8rem;
}

.completed,
.resolved {
  @include notificationFont;
  color: $pryColor !important;
  background-color: $completedBackgroundColor;
}

.canceled,
.unresolved {
  @include notificationFont;
  color: $canceledTextColor;
  background-color: $canceledBgColor;
}

.refunded {
  @include notificationFont;
  color: $refundedTextColor;
  background-color: $refundedBgColor;
}

.dispute {
  @include notificationFont;
  color: $inDisputeTextColor;
  background-color: $inDisputeBgColor;
}
.pending-confirmation {
  @include notificationFont;
  color: $pendingConfirmationTextColor;
  background-color: $pendingConfirmationBgColor;
}

.awaiting {
  @include notificationFont;
  color: $awaitingDeliveryTextColor;
  background-color: $awaitingDeliveryBgColor;
}

.pending-payment {
  @include notificationFont;
  color: $pendingPaymentTextColor;
  background-color: $pendingPaymentBgColor;
}

.PartnerStyle {
  background-color: #d9ebe5;
}

@media screen and (max-width: 687px) {
  .completed,
  .awaiting,
  .canceled,
  .dispute,
  .pending-confirmation,
  .pending-payment,
  .refunded,
  .resolved,
  .unresolved {
    width: 5rem !important;
    height: 1.25rem !important;
    font-size: 0.6rem !important;
  }
}
