@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

.PaginationBar {
	button {
		margin: 0 !important;
	}
	a {
		@include pFont;
		color: $placeholderTextColor;
	}
	a:hover,
	a:focus {
		@include H6Font;
		font-size: 1.3rem !important;
		color: $bodyTextColor;
	}

	li {
		margin-inline: 2% !important;
	}
	:first-child {
		margin-inline: unset !important;
		margin-right: 3% !important;
	}
	:last-child {
		margin-inline: unset !important;
		margin-left: 3% !important;
	}
}

@media screen and (max-width: 764px) {
	.PaginationBar button {
		font-size: 0.75rem !important;
	}
}
