@use "../generalStyles/color" as *;
@use "../generalStyles/fonts" as *;

@mixin tableFontStyle {
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
}

.BgColor {
  background-color: $pryColor;
}
// Pricing Table
.BgColor {
  background-color: $pryColor;
}

.pricing-table tr:nth-child(even) {
  background-color: $pryColorVariant;
}

// NotificationCard
