$pryColor: #006747;
$pryColorVariant: #66a491;
$secColor: #ffffff;
$buttonColor: #4d957e;

// text colors
$bodyTextColor: #4b4453;
$mutedTextColor: rgba(255, 255, 255, 0.5);
// $warningTextColor: #e9d402de;
$errorTextColor: red;
$successTextColor: green;
