@use "./color" as *;

@mixin H1Font {
  font-family: "Roboto", sans-serif;
  font-size: 4.1875rem;
  line-height: 6.28rem;
}

@mixin H2Font {
  font-family: "Roboto", sans-serif;
  font-size: 3.1875rem !important;
  line-height: 4.78rem;
}

@mixin H3Font {
  font-family: "Roboto", sans-serif;
  font-size: 2.375rem;
  line-height: 3.56rem;
}

@mixin H4Font {
  font-family: "Roboto", sans-serif !important;
  font-size: 1.75rem !important;
  line-height: 2.625rem;
}

@mixin H5Font {
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.96rem;
  letter-spacing: 0.08em;
}

@mixin H6Font {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin pFont {
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: $bodyTextColor;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

@mixin mutedFont {
  font-family: "Open Sans";
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 4px;
}

@mixin notificationFont {
  font-family: "Open Sans";
  font-size: 0.875rem;
  color: $bodyTextColor;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

@mixin userNavFont {
  font-family: "Open Sans";
  font-size: 0.875rem;
  color: $bodyTextColor;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}
