@use "./color" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", open Sans;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  background-color: $secColor !important;
  // overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
